/mvnw text eol=lf
*.cmd text eol=crlf
### Java ###
*.class
*.jar
*.war
*.ear
*.iml
*.log

### Maven ###
target/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDEs ###
# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

### OS files ###
.DS_Store
Thumbs.db

### Spring Boot specifics ###
# Don’t commit local configs/secrets
application-*.yml
application-*.properties
*.pem
*.crt
*.key

### Logs / Temp ###
logs/
*.log
*.tmp
hs_err_pid*
replay_pid*

src/main/resources/application.properties
src/main/resources/application-secret.properties
*.env
